*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: #000000;
}

main{
    background-color: yellow;
}

footer{
    background-color: #222222;
    color: white;
}

i{
    font-size: 2rem;
    margin-bottom: .5rem;
}

a{
    text-decoration: none;
    color: red;
}

/*CREARE UN CONTENITORE IN LARGHEZZA CON MARGINE AUTO
 PER TUTTI (HEADER, MAIN, FOOTER)*/
 .contain{
    max-width: 1370px;
    margin: 0 auto;
}

/*clearflix*/

.flex{
    display: flex;
}

.flex-space-bet{
    justify-content: space-between;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*main*/


/*footer*/

footer section>div{
    text-align: center;
    margin: .5rem;
}

footer section>div>i.fa-share-from-square{
    color: #4bc800;
}

footer section:nth-child(3){
    padding: 2rem;
}

footer section:nth-child(3)>a{
    color: red;
}

footer section:nth-child(3):hover{
    background-color: #4a4a4a;
}

/*da cancellare dopo*/

.sfondo{
    background-color: red;
}

.quadrato{
    height: 500px;
    background-color: blue;
}

.bordi{
    border: solid magenta 2px;
}

.quadratino{
    width: 50px;
    height: 50px;
    background-color: lime;
}