*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    background-color: aqua;
    color: white;
}

i{
    color: white;
}

a{
    text-decoration: none;
    color: red;
}

/*CREARE UN CONTENITORE IN LARGHEZZA CON MARGINE AUTO
 PER TUTTI (HEADER, MAIN, FOOTER)*/
 .contain{
    max-width: 1400px;
    margin: 0 auto;
    padding: 4rem 0 2rem;
}

/*clearflix*/

.flex{
    display: flex;
}

.flex-space-bet{
    justify-content: space-between;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*main*/

main{
    height: 88.5vh;
    font-size: .9rem;
}

main section.special-function{
    position: absolute;
    right: 1%;
    top: 1%;
}

main section.specialfunction>div{
    background-color: gray;
}

main section>div.items{
    position: relative;
    width: 19rem;
    height: 12rem;
    background-image: url('https://picsum.photos/360/230');
    background-size:contain;
}

main section>div.items span{
    position: absolute;
    bottom: 0;
    padding: .3rem;
    background-color: gray;
    color:white
}



main section>div.items span>i{
    font-size: 1rem;
    color: white;
    opacity: none;
    margin-right: .2rem;
}
/*footer*/

footer{
    background-color: #222222;
    
}

footer section>div{
    text-align: center;
    margin: .5rem;
}

footer section>div>i.fa-share-from-square{
    color: #4bc800;
}

footer section:nth-child(3){
    padding: 2rem;
}

footer section:nth-child(3)>a{
    color: red;
}

footer section:nth-child(3):hover{
    background-color: #4a4a4a;
}

footer section div>i{
    font-size: 2rem;
    margin-bottom: .5rem;
}

/*da cancellare dopo*/

.sfondo{
    background-color: red;
}

.quadrato{
    height: 500px;
    background-color: blue;
}

.bordi{
    border: solid magenta 2px;
}

.quadratino{
    width: 50px;
    height: 50px;
    background-color: lime;
}